<div class="container-fluid">
	
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
			<img src="images/title.png" alt="Bob's Burgers">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-2 col-xs-3" id="wholeBurgers">
			<h2>Uneaten Burgers</h2>
			{{#each allburgers}}
				{{#unless devoured}}
				<p> {{this.id}} {{this.burger_name}}
				<button data-burgerid="{{this.id}}" class="devour">Devour It!</button>
				</p>
				{{/unless}}
			{{/each}}
		</div>
		<div class="col-xs-2" id="btnBox"></div>
		<div class="col-xs-3" id="eatenBurgers">
			<h2>Eaten Burgers</h2>
			{{#each allburgers}}
				{{#if devoured}}
				<p> {{this.id}} {{this.burger_name}}</p>
				{{/if}}
			{{/each}}
		</div>
	</div>
		
	<div class="row">
		<div class="col-xs-offset-4 col-xs-4">
			<h2>Add a Burger</h2>
			<form class="create-form">
				<div class="form-group">
					<label for="burger"></label>
					<textarea id="burger" name="burger" rows="8" cols="40"></textarea>
				</div>
				<button id="addBurger" type="submit">Add Your Burgers</button>
			</form>
		</div>
	</div>

</div>

<script type="text/javascript">
  

// When the page loads, grab and display all of our burgers
$(document).ready(function(){

    function getBurgers() {

    $.ajax("/",{
      type: "GET"
    }).then(function(data){
  
    	console.log("Data Retrieved!");
    });

   }
    

$(".devour").on("click", function(event){
	var id = $(this).data("burgerid");

    $.ajax("/update/" + id,{
      type: "PUT"
    }).then(function(data){
        getBurgers();
        location.reload();
        console.log("Data Updated!")
    });
  
  });

  $("#addBurger").on("click", function(event){

    var newBurger = {
      burger: $("#burger").val().trim()
    };

    $("#burger").val("");

    $.ajax("/new",{
      type: "POST",
      data: newBurger,
    }).then(function(data){
        getBurgers();
        location.reload();

    });
  
  });

  getBurgers();
  
})
</script>
